*{
    margin:0px;
    padding:0px;
}

body{
}
    /*<!----header part start-->*/
header{
	font-family: 'Capriola', sans-serif;
	background-color:skyblue;
	height:75px;
    width:100%;
    position:fixed;
    top:0;
}

.container{
	width:75%;
	margin:0 auto;
	height: 75px;
}
.logo{
	/*background-color:black;*/
    width:25%;
    height:75px;
    float: left;   
}
.fas.fa-check{
	font-size:30px;
	margin:  18px;
}
.menu{
   /* background-color:blue;*/
    width:41.67%;
    height:75px;
    float: left;
    font-size:20px; 
}
.icon{
	/*background-color: yellow;*/
    width:33.33%;
    height:75px;
    float:left;
    

}
nav ul{
    list-style:none;
    margin:20px;
    font-size:21px;

}
nav ul li{
    display:inline;
    margin:0px 20px;
}
nav ul li a{
    color:black;
    text-decoration:none;
	
}
.social-icons{
	margin:18px;
	width:100%;
	height: 75px;
	float:left;
    display:inline;
    cursor:pointer;

}
.social-icons ul{
	list-style:none;
}
.social-icons ul li {
    display:inline; 
    margin:7px;
    font-size: 21.99px;

}
.fab.fa-facebook{   
    color:#4267B2;
    padding:3px 6px;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -webkit-transition: 0.8s;
    font-size:130%;

}
.fab.fa-facebook:hover {
    transform: rotate(360deg);
}
.fab.fa-linkedin{
	color:#414d8f;
	 padding:3px 4px;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -webkit-transition: 0.8s;
    font-size:130%;
}
.fab.fa-linkedin:hover {
    transform: rotate(-360deg);
}
.fab.fa-twitter{
	color:#2e96e3;
	 padding:3px 4px;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -webkit-transition: 0.8s;
    font-size:130%;
}
.fab.fa-twitter:hover {
    transform: rotate(360deg);
}
.fab.fa-google-plus-g{
	color:#9e141e;
	 padding:3px 4px;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -webkit-transition: 0.8s;
    font-size:130%;
}
.fab.fa-google-plus-g:hover {
    transform: rotate(-360deg);
}
.fas.fa-sign-in-alt{
	color:#4267b2;
	 padding:3px 4px;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -webkit-transition: 0.8s;
    font-size:130%;
}

 /* <!--header part end--->*/
.description{
	font-family: 'Courgette', cursive;
	background-image: url(../img/kaj.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height:1240px;
	width:100%;
	float:left;
}
.description-size{
	margin: 340px 10%;
    padding: 140px 20px;
    background-color: #cfd0d478;
    height:90px;
    height-right:50px;
}
.btn{
	padding: 10px 20px;
    font-size: 16px;
    background-color: #5dab27;
    border: aqua;
    border-radius: 15px;
    color: #ffff;
    cursor:pointer;
}
.part{
	font-family: 'Capriola', sans-serif;
	width:100%;
	float:left;
	height: 280px;
}
.divition-plus{
	float:left;
	width: 25%;
	padding: 0px;
}
.part ul{
	list-style:inline;
	list-style-type:none;

}
.fas.fa-check-circle{
	color:#657cd9;
	font-size: 70px;
	margin-top: 45px;
}
.far.fa-money-bill-alt{
	color:#46a0ae;
	font-size:70px;
	margin-top: 45px;
}
.fas.fa-map-marker-alt{
	color:#94d365;
	font-size:70px;
	margin-top: 45px;
}
.fas.fa-user-plus{
	color:#93d365;
	font-size:70px;
	margin-top: 45px;
}
.namaj{
	margin-bottom: 20px;
	margin-top: 15px;
}
.yasha{
	margin-bottom:20px;
	font-family: 'Capriola', sans-serif;
}
.blog{
	font-family: 'Courgette', cursive;
	width:100%;
	float:left;
	margin-top: 60px;
}
.blog-text-part{
	height: 25px;
	width: 100%;
	text-align: center;
	font-size: 15px;
}
.blog-part-one{
	width:40%;
	height: 220px;
	background-color:#b4cadc;
	padding: 0px 0px;
	margin: 0px 20px;
	float:left;
	font-size:20px;
}
.blog-part-one ul{
	margin:20px;
	margin-left:50px;
}

.blog-part-two{
	width:40%;
	height: 220px;
	background-color:#b4cadc;
	padding: 0px 0px;
	margin: 0px 120px;
	float:left;
	font-size:20px;
}
.blog-part-two ul{
	margin:20px;
	margin-left:50px;
}
.hign{
	text-align:center;
	margin-top: 20px;
}
.design{
	font-family: 'Capriola', sans-serif;
	width:100%;
	height:250px;
	float:left;
}
.design-text{
	text-align:center;
	margin-top:25px;
	margin-left:40px;
	margin-right:130px; 
	color: #00253f;
}
.designing{

}
.design-one{
	float:left;
	width:40%;
	margin-right:80px;
	margin-top:20px;
}
.design-two{
	float:left;
	width:40%;
	margin-left:98px;
	margin-top: 20px;
}
.logic{
	color:#0d2458;
	margin-bottom:15px;
}
.logitech{
	margin-bottom: 15px;
}
.Concept{
	width:100%;
	float:left;
	background-color:#b2b2b2;
	height:160px;
}
.content-part ul{
	list-style:none;
	margin:30px;
	display:block;
	text-align:center;
}
.msgg{
	text-align:right;
	margin-bottom:19px;
}
.chobi{
	width:130px;
	margin:0px 500px;
	line-height:120px;
	margin-top:50px;	
}
.footer{
	width:100%;
	float:left;

}
.footer-uper{
   text-align:center;
   background-color:#808080;
   height::50px;
}
.footer-middle{
	background-color:#808080;
	float:left;
	width:20%;
	height:160px;
	font-family: 'Concert One', cursive;
}
.footer-middleitext{
	color:#fff;
	text-align:center;

}
.footer-bottom{

}
.footer-bottom-left{
	float:left;
	background-color:#032e3a;
	width:50%;
	font-size:16px;
	text-align: center;
	color:#8899a9;
}
.footer-bottom-right{
	float:left;
	background-color:#032e3a;
	width:50%;
	font-size:16px;
	text-align: center;
	color:#8899a9;
	margin-left:0px;
}
.text-of{
	margin-top:50px;
}



















